<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.parkingserver.dao.SysUserDao" >
    <resultMap id="BaseResultMap" type="com.example.parkingserver.entity.SysUserVO" >
        <result column="id" property="id" />
        <result column="role_id" property="roleId" />
        <result column="user_name" property="userName" />
        <result column="real_name" property="realName" />
        <result column="password" property="password" />
        <result column="small_image" property="smallImage" />
        <result column="email" property="email" />
        <result column="phone" property="phone" />
        <result column="mobile" property="mobile" />
        <result column="qq" property="qq" />
        <result column="msn" property="msn" />
        <result column="last_login_dt" property="lastLoginDt" />
        <result column="user_type" property="userType" />
        <result column="remark" property="remark" />
        <result column="identity_code" property="identityCode" />
        <result column="create_by" property="createBy" />
        <result column="create_dt" property="createDt" />
        <result column="create_name" property="createName" />
        <result column="modify_by" property="modifyBy" />
        <result column="modify_dt" property="modifyDt" />
        <result column="modify_name" property="modifyName" />
        <result column="dr" property="dr" />
    </resultMap>

    <sql id="Base_Column_List">
                id,
                role_id,
                user_name,
                real_name,
                password,
                small_image,
                email,
                phone,
                mobile,
                qq,
                msn,
                last_login_dt,
                user_type,
                remark,
                identity_code,
                create_by,
                create_dt,
                create_name,
                modify_by,
                modify_dt,
                modify_name,
                dr
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyColumn="id" parameterType="com.example.parkingserver.entity.SysUserVO">
        INSERT INTO sys_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test ='null != roleId'>
                role_id,
            </if>
            <if test ='null != userName'>
                user_name,
            </if>
            <if test ='null != realName'>
                real_name,
            </if>
            <if test ='null != password'>
                password,
            </if>
            <if test ='null != smallImage'>
                small_image,
            </if>
            <if test ='null != email'>
                email,
            </if>
            <if test ='null != phone'>
                phone,
            </if>
            <if test ='null != mobile'>
                mobile,
            </if>
            <if test ='null != qq'>
                qq,
            </if>
            <if test ='null != msn'>
                msn,
            </if>
            <if test ='null != lastLoginDt'>
                last_login_dt,
            </if>
            <if test ='null != userType'>
                user_type,
            </if>
            <if test ='null != remark'>
                remark,
            </if>
            <if test ='null != identityCode'>
                identity_code,
            </if>
            <if test ='null != createBy'>
                create_by,
            </if>
            <if test ='null != createDt'>
                create_dt,
            </if>
            <if test ='null != createName'>
                create_name,
            </if>
            <if test ='null != modifyBy'>
                modify_by,
            </if>
            <if test ='null != modifyDt'>
                modify_dt,
            </if>
            <if test ='null != modifyName'>
                modify_name,
            </if>
            <if test ='null != dr'>
                dr
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test ='null != roleId'>
                #{roleId},
            </if>
            <if test ='null != userName'>
                #{userName},
            </if>
            <if test ='null != realName'>
                #{realName},
            </if>
            <if test ='null != password'>
                #{password},
            </if>
            <if test ='null != smallImage'>
                #{smallImage},
            </if>
            <if test ='null != email'>
                #{email},
            </if>
            <if test ='null != phone'>
                #{phone},
            </if>
            <if test ='null != mobile'>
                #{mobile},
            </if>
            <if test ='null != qq'>
                #{qq},
            </if>
            <if test ='null != msn'>
                #{msn},
            </if>
            <if test ='null != lastLoginDt'>
                #{lastLoginDt},
            </if>
            <if test ='null != userType'>
                #{userType},
            </if>
            <if test ='null != remark'>
                #{remark},
            </if>
            <if test ='null != identityCode'>
                #{identityCode},
            </if>
            <if test ='null != createBy'>
                #{createBy},
            </if>
            <if test ='null != createDt'>
                #{createDt},
            </if>
            <if test ='null != createName'>
                #{createName},
            </if>
            <if test ='null != modifyBy'>
                #{modifyBy},
            </if>
            <if test ='null != modifyDt'>
                #{modifyDt},
            </if>
            <if test ='null != modifyName'>
                #{modifyName},
            </if>
            <if test ='null != dr'>
                #{dr}
            </if>
        </trim>
    </insert>

    <delete id="delete" >
        DELETE FROM sys_user
        WHERE id = #{id}
    </delete>

    <update id="update" parameterType="com.example.parkingserver.entity.SysUserVO">
        UPDATE sys_user
        <set>
            <if test ='null != roleId'>role_id = #{roleId},</if>
            <if test ='null != userName'>user_name = #{userName},</if>
            <if test ='null != realName'>real_name = #{realName},</if>
            <if test ='null != password'>password = #{password},</if>
            <if test ='null != smallImage'>small_image = #{smallImage},</if>
            <if test ='null != email'>email = #{email},</if>
            <if test ='null != phone'>phone = #{phone},</if>
            <if test ='null != mobile'>mobile = #{mobile},</if>
            <if test ='null != qq'>qq = #{qq},</if>
            <if test ='null != msn'>msn = #{msn},</if>
            <if test ='null != lastLoginDt'>last_login_dt = #{lastLoginDt},</if>
            <if test ='null != userType'>user_type = #{userType},</if>
            <if test ='null != remark'>remark = #{remark},</if>
            <if test ='null != identityCode'>identity_code = #{identityCode},</if>
            <if test ='null != createBy'>create_by = #{createBy},</if>
            <if test ='null != createDt'>create_dt = #{createDt},</if>
            <if test ='null != createName'>create_name = #{createName},</if>
            <if test ='null != modifyBy'>modify_by = #{modifyBy},</if>
            <if test ='null != modifyDt'>modify_dt = #{modifyDt},</if>
            <if test ='null != modifyName'>modify_name = #{modifyName},</if>
            <if test ='null != dr'>dr = #{dr}</if>
        </set>
        WHERE id = #{id}
    </update>

    <select id="load" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM sys_user
        WHERE id = #{id}
    </select>

    <select id="pageList" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM sys_user
        LIMIT #{offset}, #{pageSize}
    </select>

    <select id="pageListCount" resultType="java.lang.Integer">
        SELECT count(1)
        FROM sys_user
    </select>
</mapper>